NODE_ENV=development # App enviroment.

# Uncomment to enable the following debug logs:
# DEBUG=server:www

LOG_LEVEL=info # Pino logging level.

# MariaDB connection settings
DB_HOST=localhost
DB_USERNAME=my_user
DB_PASSWORD=my_password
DB_NAME=my_database